@using OnlineStore.Contracts.Users
@{
    ViewData["Title"] = "Роли";
}
@model RoleDto;

<div class="add-role-container">
    <h2>Добавить новую роль</h2>
    <form asp-action="AddRoles" asp-controller="Roles" method="post">
        <div class="form-group">
            <label for="roleName">Название роли:</label>
            <input type="text" id="roleName" name="roleDto.Name" required />
        </div>
        <button type="submit" class="add-button">Добавить роль</button>
    </form>
</div>
<style>
    .add-role-container {
        margin-top: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

    .add-button {
        padding: 10px 15px;
        background-color: #3498db; /* Цвет кнопки добавления */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .add-button:hover {
            background-color: #2980b9; /* Темнее при наведении */
        }
</style>