@model ProductViewModel

<form asp-action="GetAllProducts" method="get">
    <div>
        <a type="button" class="btn btn-outline-secondary" asp-controller="Product" asp-action="GetAllProducts">Get All product</a>
    </div>
</form>